*{
    padding: 0;
    margin: 0;
}
#titulo{
    width: 95%;
    height: 100px;
    background-color:floralwhite;
    margin: 7px auto;
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 30px;
}
#titulo img{
    width: 250px;
    height: 130px;

}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: palevioletred;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
h1:hover{
background-color:black;
transition: 2s;
color: #fff;
}
.img img{
    width: 150px;
    height: 90px;
    align-items: baseline;
}
#auto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
    padding: 10px;
}
.auto2 h2{
    background-color: blue;
    color: #fff;
    border-radius: 3px;
    margin: 10px;
    padding: 2px;
}
.auto1 h2{
    background-color: yellow;
    color: #000;
    border-radius: 3px;
    margin: 10px;
    padding: 2px;
}
.auto3 h2{
    background-color:red;
    color: #000;
    border-radius: 3px;
    margin: 10px;
    padding: 2px;
}